<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: common-head('習慣詳細')}"></head>

<body class="bg-light">

<div th:replace="fragments :: header"></div>

<main class="container py-5">

    <div class="card shadow-sm border-0">
        <div class="card-body p-4">

            <h1 class="fw-bold mb-3" th:text="${habit.title}"></h1>
            <p class="text-muted" th:text="${habit.description}"></p>
            <a href="/today" class="btn btn-secondary mt-3">戻る</a>

        </div>
    </div>
    <canvas id="myChart"></canvas>

</main>

<div th:replace="fragments :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js">
</script>
<script th:inline="javascript">

const ctx = document.getElementById('myChart');
new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [[${monthLabels}]],
        datasets: [{
            label: '月別達成率',
            data: [[${monthlyRates}]],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                max: 100
            }
        }
    }
});
</script>
</body>
</html>